dir_workers = 5
file_workers = 5

[rabbitmq]
connect_string = "amqp://guest:guest@localhost:5672/"

[datasource]

[datasource.home]
path = "/Users/username/tmp"
mount = false
write = true

[datasource.panda]
path = "/mnt/panda"
mount = true
write = false